{{ define "main" }}
<div id="ghost-hydra-root" class="terminal-feed">
    
    <div class="terminal-prompt-header" style="color: #00ff41; margin-bottom: 30px;">
        <p><span style="color: #666;">[xoce@darkarch ~]$</span> cd /archive/{{ .Title | lower }}</p>
        <p>> LISTING_INTEL_OBJECTS...</p>
        <div style="border-bottom: 1px dashed #00ff41; width: 100%; margin: 15px 0;"></div>
    </div>

    <div class="posts">
        {{ range .Paginator.Pages }}
            {{ partial "feed_item.html" . }}
        {{ end }}
    </div>

    <div class="pagination-container">
        {{ partial "pagination.html" . }}
    </div>
</div>
{{ end }}