{{ $isSuite := false }}
{{ if .Params.categories }}
    {{ if in .Params.categories "pro-suite" }}
        {{ $isSuite = true }}
    {{ end }}
{{ end }}

<article class="post-entry {{ if $isSuite }}suite-item{{ else }}standard-item{{ end }}">
    <header>
        <h2 class="entry-title">
            <a href="{{ .Permalink }}" class="feed-link">
                <span class="arrow-icon">></span> {{ .Title }}
            </a>
        </h2>
        <div class="post-meta-data">
            PUBLISHED: {{ .Date.Format "2006-01-02" }} | STATUS: {{ if $isSuite }}ENCRYPTED{{ else }}ARCHIVED{{ end }}
        </div>
    </header>
    <div class="post-summary">
        {{ .Summary | plainify | truncate 250 }}
    </div>
    <footer class="entry-footer">
        <a href="{{ .Permalink }}" class="intel-link">
            [ READ FULL INTEL_ ]
        </a>
    </footer>
</article>